@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
    box-sizing:border-box;
}

body {    
    background-image: url(images/time_bg2.jpg);
    min-height: 100vh;
    background-size:cover;
    background-position: center center;
    display:flex;
    flex-direction: column;
    align-items: center; /*center from left to right*/
    justify-content: center; /*center from top to bottom*/
    font-family:"Poppins",sans-serif;   /*imported font*/
    margin:0;
    margin-left: 700px;
      
}

h1{
    
    font-size: 4rem;
    margin-top: -300px;
    color: #008000	;
}

.countdown-container{
    display:flex;
    margin-top: 60px;
    flex-wrap: wrap;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    
   
    
}

.big-text{
   
    font-size:5rem;
    line-height:0.75;
    margin:0 3rem;
}
.countdown{
    text-align: center;
}

.countdown span{
    font-size:1rem;
}

label,input {
    display: block;
    font-family:"Poppins",sans-serif;
    font-size: 2rem ;
    text-align: center;
    font-weight: bold;
    margin-top: 500px;
    
}

input,label {
    margin: .4rem 0;
}